:root{
    --primary-blue:#2563eb;
    --accent-cyan:#06b6d4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
::-webkit-scrollbar{
    display: none;
}
 .highlight {
            background: linear-gradient(135deg, var(--primary-blue) 0%, var(--accent-cyan) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }